{% extends 'user/base.html.twig' %}

{% block title 'title.user_forum_bans'|trans({'%user%': user.username}) %}

{% block head %}
  {{ parent() }}

  {{ include('_includes/meta_pagination.html.twig', {pager: bans}, with_context=false) }}
{% endblock head %}

{% block body %}
  {% from 'user/_macros.html.twig' import user_link %}

  <h1 class="page-heading">
    {{ 'title.user_forum_bans'|trans({'%user%': user_link(user, {prefix: true})})|raw }}
  </h1>

  {% embed '_layouts/table_pagination.html.twig' with { items: bans } %}
    {% block header %}
      <th class="table__shrink">{{ 'label.forum'|trans }}</th>
      <th class="table__shrink">{{ 'label.banned_by'|trans }}</th>
      <th class="table__shrink">{{ 'label.banned'|trans }}</th>
      <th class="table__shrink">{{ 'label.expires'|trans }}</th>
      <th>{{ 'label.reason'|trans }}</th>
      <th class="table__shrink"></th>
    {% endblock header %}

    {% block row %}
      {% from '_macros/time.html.twig' import relative_time %}
      {% from 'user/_macros.html.twig' import user_link %}

      <td class="table__shrink"><a href="{{ path('forum', {forum_name: item.forum.name}) }}">/f/{{ item.forum.name }}</a></td>
      <td class="table__shrink">{{ user_link(item.bannedBy) }}</td>
      <td class="table__shrink">
        {{ relative_time(item.timestamp, { date_format: 'short', time_format: 'none' }) }}
      </td>
      <td class="table__shrink">
        {% if item.expires %}
          {{ relative_time(item.expires, { date_format: 'short' }) }}
        {% else %}
          <small class="fg-muted text-sm">{{ 'label.never'|trans }}</small>
        {% endif %}
      </td>
      <td>{{ item.reason }}</td>
      <td class="table__shrink">
        <a href="{{ path('unban_user', {username: item.user.username}) }}" class="button button--small inline">
          {{ 'action.unban'|trans }}
        </a>
      </td>
    {% endblock row %}
  {% endembed %}
{% endblock body %}
