{% macro header() %}
  <h1 class="no-margin">{{ 'forum_list.page_title'|trans }}</h1>
{% endmacro header %}

{% macro forum_list_tabs() %}
  <ul class="unlistify flex no-margin">
    {% with { active: app.request.attributes.get('_route') == 'forum_list' } %}
      <li>
        <a href="{{ path('forum_list') }}" class="tab {{ active ? 'tab--active' }}">
          {{- 'forum_list.list_view'|trans -}}
        </a>
      </li>
    {% endwith %}
    {% with { active: app.request.attributes.get('_route') == 'forums_by_category' } %}
      <li>
        <a href="{{ path('forums_by_category') }}" class="tab {{ active ? 'tab--active' }}">
          {{- 'forum_list.category_view'|trans -}}
        </a>
      </li>
    {% endwith %}
  </ul>
{% endmacro forum_list_tabs %}

{% macro create_forum() %}
  {% if is_granted('create_forum') %}
    <div>
      <a href="{{ path('create_forum') }}" class="button">{{ 'forum.create'|trans }}</a>
    </div>
  {% endif %}
{% endmacro create_forum %}
